<html>
<head>
	<title>Data Journalism Jobs</title>
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" href="css/style.css?v=1.0">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<script src="js/script.js?v=1.0"></script>
</head>
<body>
	<h1>
		Data Journalism Jobs
		<a href="/submit" class="btn btn-primary" role="button">Submit new job</a>
	</h1>
	<%= yield %>
	<footer>
		<a href="http://www.ChrisPersaud.com" target="_blank">Chris Persaud</a> made this site. Wanna improve it? <a href="https://github.com/chrismp/Data-Journalism-Jobs" target="_blank">Fork it on Github</a> and you'll get credit!
	</footer>
</body>
</html>