html {
	position: relative;
	min-height: 100%;
}

body {
	margin: 0 0 100px;
}

h1,
footer {
	text-align: center;
}

footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background: #fff;
	border-top: 1px solid #333;
}

#credits {
	font-size: 14px;
	font-weight: bold;
}

@media screen and (min-width: 860px){
	.rrssb-buttons li a {
		height: unset; /* Without this, social buttons' heights will be equal to viewport's height */
	}	
}
